.cartCards span {
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  color: var(--letter-blue);
}

@media (max-width: 750px) {
  .cartCards span {
    font-size: 15px;
    line-height: 14px;
    color: var(--letter-blue);
  }
}
