.button-input {
  color: #ffffff;

  font-weight: 500;
  font-size: 17px;
}

.contact h2 {
  font-size: 20px;
  font-weight: 300;
  color: var(--white);
}

@media (max-width: 700px) {
  .contact {
    margin-top: 100px;
  }
  .contact-text {
    margin-bottom: 30px;
  }
  .inputs {
    font-size: 11px !important;
  }
}
