nav div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 18px;
  color: var(--letter-blue);
  cursor: pointer;
}

nav ul li {
  cursor: pointer;
}

@media (max-width: 750px) {
  nav {
    display: none !important;
  }
  nav {
    justify-content: space-between;
    width: 90vw !important;
    margin: 10px auto !important;
  }
  nav div {
    font-size: 10px !important;
  }
  nav div img {
    width: 9px !important;
  }

  nav ul {
    position: absolute;
    top: 2px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    margin-left: 0 !important;
    font-size: 12px !important;
  }
}
