.navbar div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 18px;
  color: var(--letter-blue);
  cursor: pointer;
}

nav ul li {
  cursor: pointer;
}

@media (max-width: 750px) {
  .navbar {
    display: none !important;
  }
}
